<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Proyecto de la primera generación del 2014 de diseño web online" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="Roberth Solís Martínez" name="author"/>
	<title></title>
	<link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="stylesheet" href="css/OpenSansGoogle.min.css" />
</head>
<body>
	<header>
	</header>
	<nav>
		<ul>
			<li><a href="#">Citas</a></li>
			<li><a href="#">Pacientes</a></li>
			<li><a href="#"></a>¿Ayuda?</li>
			<li id="ingresar_nav">
				<a href="#"><span class="icon-login"></span>Ingresar</a>
			</li>
		</ul>
        
	</nav>
	<section id="contenido">       
	</section>
	<footer>
		<p>
			<strong>Desarrollado por <a href="http://www.roberthsolis.com"> Roberth Solís Martínez</a></strong>
		</p>
		<p> www.roberthsolis.com 2015</p>
	</footer>
</body>
</html>
